<mat-horizontal-stepper class="stepper">
  <mat-step>
    <ng-template matStepLabel>Choose Safe</ng-template>
    <app-safe-step
      [safeList]="safeList"
      [accountFormGroup]="accountFormGroup"
    ></app-safe-step>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Details</ng-template>
    <app-account-details-step
      [accountFormGroup]="accountFormGroup"
      [accountRoleType]="accountRoleType"
    ></app-account-details-step>
  </mat-step>
  <mat-step *ngIf="accountRoleType === RoleType.ADMIN">
    <ng-template matStepLabel>Additional Details</ng-template>
    <app-admin-groups-step
      [accountFormGroup]="accountFormGroup"
      [adminGroups]="adminGroups"
    ></app-admin-groups-step>
  </mat-step>
</mat-horizontal-stepper>
<!--
 /* This is for Development Purpose Only */
<ng-container>
    <mat-slide-toggle (change)="devMode = !devMode">Dev Mode</mat-slide-toggle>
  <pre *ngIf="devMode">{{ accountFormGroup.value | json }}</pre>
</ng-container>
-->
